* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.tabela-preco {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}

.card-preco {
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: 0.3s linear;
  border-radius: 4px;
}

.card-preco:hover .card-preco-header {
  box-shadow: 0 0 0 22em #964b00;
}

.card-preco-header {
  background-color: #964b00;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s line;
}

.preco {
  font-size: 70px;
  color: #964b00;
  margin: 40px 0;
  transition: 0.2s linear;
}

.preco sup,
.preco span {
  font-size: 22px;
  font-weight: 700;
}

.card-preco:hover,
.card-preco:hover .preco {
  color: #fff;
}

.card-preco .valores {
  font-size: 16px;
  padding: 30px 0;
  text-transform: uppercase;
}

.espaco {
  padding-top: 40px;
}

p {
  font-size: 11px;
  text-align: left;
  text-transform: none;
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 2px solid #964b00;
  color: #964b00;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
}

.btn:hover {
  background-color: #964b00;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .card-preco {
    flex: 50%;
  }
}
