body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 20px;
  background: #fcfcd2;
  margin-bottom: 100px;
}

p,
h1,
h2,
h3,
h5,
h6 {
  margin: 0px;
}

h2 {
  padding-bottom: 1.25rem;
}

h5 {
  padding-top: 30px;
}

h5,
h6 {
  text-align: left;
}

p {
  padding: 7px;
}

.info {
  padding: 10px;
}

h1 {
  grid-column: 1 / -1;
  margin: 0 auto;
  padding: 2.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  gap: 10px;
  text-align: center;
  background: #ebbe8f;
  border-radius: 10px;
}

.hospedagem {
  grid-column: 1;

  padding: 40px;
  margin-right: 30px;
}

.creche {
  grid-column: 2;

  padding: 40px;
}
